<html>
    <head>
	<title>About the datamover</title>
    </head>
    <body>
	<h3>An open source data transfer toolkit for research data</h3>
	<p>
	    Many areas of academic research are increasingly catching up with the 
	    <a href="https://home.cern/topics/large-hadron-collider">LHC</a> experiments when it comes to data volumes, 
	    and just as in particle physics they require large data sets to be moved between analysis locations.</p>
	<p>
	    The LHC experiments have built a global e-Infrastructure in order to handle hundreds of petabytes of data and 
	    massive compute requirements. Yet, there is nothing particle physics specific in this infrastructure. However its 
	    command line interfaces and its use of an individual’s X.509 certificate as a means of user identification can be 
	    seen as barriers by other communities where users typically have access to multiple endpoints via site specific 
	    logins, but no X.509 certificates or any other shared authentication infrastructure. </p>
	<p>
	    The datamover project aims to provide an easy to use web interface for these users to transfer files between 
	    institutions, while shielding them from the complexities of the underlying infrastructure. </p>

    </body>
</html>
