<html>
  <head>
    <title>Dashboard</title>
    <!--- The order matters --->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
         src="https://code.jquery.com/jquery-3.3.1.js"
         integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
         crossorigin="anonymous">
    </script>
 
    <script src="/static/listinghelpers.js"> </script>
    
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
    </script>

    <script> $(document).ready(); </script>

    <!--- define all interactive components --->
    <script>
     let list0 = new Listings(0);
     let list1 = new Listings(1);

     $(document).ready(function(){
         $("#listbutton0").click($.proxy(list0.get_query_result, list0));
	 $("#listbutton1").click($.proxy(list1.get_query_result, list1));
	 $("#pathatsite0").keypress(function(event) {
	     // 13 == enter
	     if (event.keyCode === 13) {
		 event.preventDefault();
		 list0.get_query_result();
	     }
	 }); // keypress
	 $("#pathatsite1").keypress(function(event) {
             // 13 == enter
             if (event.keyCode === 13) {
                 event.preventDefault();
                 list1.get_query_result();
             }
         }); // keypress

     }); // ready


    </script>

  </head>

  <body>
      <center>
	  <h2>{{ user_name }}'s Dashboard</h2>
	  <br>
	  
	  <div class="outer">
	      {% for i in range(2) %}
	      <div id="siteid{{ i }}" class="siteid{{ i }}">
		  <select id="Endpoints{{ i }}" class="dropdownColour{{ i }}">
		      {% if i == 0 %}
		      <option value="droptitle">Source Site</option>
		      {% else %}
		      <option value="droptitle">Target Site</option>
		      {% endif %}
		      {% for site in sites %}
		      {% set sitename = site['site_name'] %}
		      <option value="{{ sitename }}">{{ sitename }}</option>
		      {% endfor %}
		  </select>
		  
		  <br><br>
      		  directory: <input type="text" id="pathatsite{{ i }}" value="/"/> <br>
		  <br>
		  
		  
		  <button class="lbutton{{ i }}" id="listbutton{{ i }}">List</button>
		  <div visibility="hidden" id="listspinner{{ i }}" class="loader"></div>
		  
		  <br>
		  
		  job number  <input type="text" id="jobnumberfield{{ i }}"/> <br>
		  
		  <br>
		  Status of the job is: <p id="reqstatus{{ i }}"> No job started yet. </p>
		  
		  <br>
		  <div id="navbarDiv{{ i }}" style="margin-top: 20px">
		      To be replaced by a navigation bar.
		  </div>

		  <!-- the width doesn't do what I want here -->
		  <div id="tableDiv{{ i }}" style="margin-top: 20px">
		      The results will appear here.
		  </div>
		  
	      </div>
	      {% endfor %}
	  </div> 
      </center>
      
  </body>
</html>
