<html>
  <head>
    <title>UK DataMover</title>
    <link rel="stylesheet" href="/static/webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="inner">
      <div class="fpborder">
	<font color="red">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
	  {% for message in messages %}
	  <li>{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	</font>



	<h1><img src="{{url_for('static', filename='pdm.png')}}" alt="Logo"> <br> The DataMover</h1>
	<form method="POST" action="/web/datamover">
	  <center>
            <table>
              <tr><td>
                <label for="uname"><font size ="3em"><b>Username</b></font></label>
	      </td></tr>
	      <tr><td>
                <input type="text" placeholder="email address" name="uname" required><br>
		<label><font size ="2em">
		    <input type="checkbox" checked="checked" name="remember"> Remember me. 
		</font></label>
	      </td></tr>

	      <!--- allow some space between username and password --->
	      <tr><td> <br></td></tr>

              <tr><td>
                  <label for="pswd"><b><font size ="3em">Password</font></b></label>
	      </td></tr>
	      <tr><td>
                  <input type="password" placeholder="password" name="pswd" required><br>
		  <div class="psw"><span><font size ="2em">
			Forgot <a href="#">password?</a>
		  </font></span></div>
	      </td></tr>
	      <tr>
		<td><font size = "2em">New user ? </font><a href="registration" class="sbutton">Sign Up</a></td>
		<td align="right"><button class="lbutton" type="submit">Login</button></td>
	      </tr>
            </table>
          </center>
        </form>
      </div> <!--- fpborder --->
    </div> <!--- inner --->
    <div class="inner">
      <!--- misuse a table to align two text pieces in the same line --->
      <table width="100%">
        <tr>
	  <td align="left">Current status: {{ status }} 
	  </td>
	  <td align="right"><a href="about" class="abutton">About</a>
	  </td>
	</tr>
    </div>
  </body>  
</html>
