{% extends "dashboard.html" %}
{% block head %}
<!--conflicts with bootstrap datatables giving two sort arrows and original datatables like table layout -->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
<style>
    span.oi-chevron-top, span.oi-chevron-bottom {cursor: pointer;}
</style>
{% endblock %}
{% block navjobsactive %}active{% endblock %}
{% block navjobsurl%}#{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>

status_colour_map = {DONE: "success", SUBMITTED: "warning", FAILED: "danger"};
type_elements_column_map = {COPY: [{'title': 'ID', 'data': 'id', 'width': '5%'},
                                   {'title': 'From', 'data': 'src_filepath'},
                                   {'title': 'To', 'data': 'dst_filepath'},
                                   {'title': 'Status', 'data': 'status', 'width': '5%'}],
                            REMOVE: [{'title': 'ID', 'data': 'id', 'width': '5%'},
                                     {'title': 'Target', 'data': 'src_filepath'},
                                     {'title': 'Status', 'data': 'status', 'width': '5%'}]}

function preprocess_subtabledata(data, job_id){
    var processed_data = []  //cant just modify data inplace as need to filter (delete from) it.
    $.each(data, function(index, element){
        // skip listing job
        if (element.type == "LIST"){
            return;
        }

        // id number
        element.id = [job_id, element.id].join('.');

        // status badges
        var badge_wrapper = $("<div/>");
        var status_badge = $("<span>", {class: `badge badge-${status_colour_map[element.status]}`});
        status_badge.text(element.status);
        badge_wrapper.append(status_badge);
        element.status = badge_wrapper.html();

        // push new data
        processed_data.push(element);
    });
    return processed_data
}

function preprocess_tabledata(data){
    var processed_data = []
    $.each(data, function(index, job){
        var job_type = job.type;

        // filter out all but COPY/REMOVE jobs
        if(job_type !== "COPY" && job_type !== "REMOVE"){
            return;
        }

        // status badges
        var badge_wrapper = $("<div/>");
        var status_badge = $("<span>", {class: `badge badge-${status_colour_map[job['status']]}`});
        status_badge.text(job.status);
        badge_wrapper.append(status_badge);
        job.status = badge_wrapper.html();

        // progressbar
        var num_elements = job.num_elements;
        var progress_wrapper = $("<div/>");
        var progressbar = $("<div>", {class: "progress"});
        var done_bar = $("<div>", {class: `progress-bar bg-success`,
                                   role: "progressbar",
                                   style: `width: ${100*(job.num_done - 1)/(num_elements - 1)}%`});
        done_bar.text(job.num_done - 1);
        var submitted_bar = $("<div>", {class: `progress-bar progress-bar-striped progress-bar-animated bg-warning`,
                                        role: "progressbar",
                                        style: `width: ${100*job.num_submitted/(num_elements - 1)}%`});
        submitted_bar.text(job.num_submitted);
        var failed_bar = $("<div>", {class: `progress-bar bg-danger`,
                                     role: "progressbar",
                                     style: `width: ${100*job.num_failed/(num_elements - 1)}%`});
        failed_bar.text(job.num_failed);

        progressbar.append(done_bar);
        progressbar.append(submitted_bar);
        progressbar.append(failed_bar);
        progress_wrapper.append(progressbar);
        job.progress = progress_wrapper.html();

        // push new data
        processed_data.push(job);

    });
    return processed_data;
}

$(document).ready(function(){
    // placeholder spinning pdm image
    var jobs_table = $("#jobs_table");
    jobs_table.append($("<img>", {src: '/static/images/pdm_animation.gif', class: "w-50"}));


    $.ajax({
        url: "/web/js/jobs",
        type: "GET",
        cache: true,
        dataType: "json",
        error: function(request, status, error){
            console.warn(`Error getting users jobs!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request));
            bootstrap_alert("Attention!", `Error getting users jobs! status: ${status} error: ${error}`, "alert-danger");
        },
        success: function(response, status, request){
            console.log("Successfully retrieved users jobs.");
            jobs_table.empty();
            jobs_table.removeClass("text-center");  // center was for the placeholder logo
            var table_container = jobs_table.DataTable({data: preprocess_tabledata(response),
                                                        columns: [
                                                            {"className": 'details-control',
                                                             "orderable": false,
                                                             "data": null,
                                                             "width": "5%",
                                                             "defaultContent": '<span class="oi oi-chevron-bottom text-primary"></span>'},
                                                            {'title': 'ID', 'data': 'id', 'className': 'job_id', 'width': '5%'},
                                                            {'title': 'Progress', 'data': 'progress', 'width': '80%'},
                                                            {'title': 'Type', 'data': 'type', 'className': 'job_type', 'width': '5%'},
                                                            {'title': 'Status', 'data': 'status', 'width': '5%'}
                                                        ],
                                                        order: [[1, "desc"]]})
                                            .table().container();
            $(table_container).addClass("w-100");
        }
    });

    // Add event listener for opening and closing details
    $('#jobs_table').on('click', 'tbody tr td.details-control span.oi', function (){
        var details_control = $(this);
        var tr = details_control.closest('tr');
        var row = jobs_table.DataTable().row(tr);
        details_control.toggleClass("oi-chevron-top text-danger oi-chevron-bottom text-primary")
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
            return;
        }

        var job_id = tr.children("td.job_id").text();
        var job_type = tr.children("td.job_type").text();
        var loading_image = $("<img>", {src: "/static/images/pdm_animation.gif"})
        row.child(loading_image).show();
        tr.addClass('shown');
        $.ajax({
            url: `/web/js/jobs/${job_id}/elements`,
            type: "GET",
            cache: true,
            dataType: "json",
            error: function(request, status, error){
                console.warn(`Error getting elements for job ${job_id}!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request));
                bootstrap_alert("Attention!", `Error getting elements for job ${job_id}! status: ${status} error: ${error}`, "alert-danger");
            },
            success: function(response, status, request){
                console.log(`Successfully retrieved elements for job ${job_id}.`);
                var subtable = $("<table>", {class: "compact w-100"});
                subtable.DataTable({data: preprocess_subtabledata(response, job_id),
                                    columns: type_elements_column_map[job_type],
                                    order: [[0, "asc"]]});
                loading_image.replaceWith(subtable);
            }
        });
    });
});
</script>
{% endblock %}
{% block content %}
<table id="jobs_table" class="display compact w-100 text-center"></table>
{% endblock %}
