{% extends "dashboard.html" %}
{% block head %}
<!--conflicts with bootstrap datatables giving two sort arrows and original datatables like table layout -->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
<style>
    span.oi-chevron-top, span.oi-chevron-bottom, span.oi-terminal {cursor: pointer;}
    .fancybox-slide--iframe .fancybox-content {
	    width  : 800px;
	    height : 600px;
	    max-width  : 80%;
	    max-height : 80%;
	    margin: 0;
        -moz-border-radius:10px 10px 10px 10px;
        border-radius:10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
    }
</style>
{% endblock %}
{% block navjobsactive %}active{% endblock %}
{% block navjobsurl%}#{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>

status_colour_map = {DONE: "success", SUBMITTED: "warning", FAILED: "danger"};
type_elements_column_map = {COPY: [{'title': 'ID', 'data': 'id', 'className': 'element_id', 'width': '5%', 'sType': 'date'},
                                   {'title': 'From', 'data': 'src_filepath'},
                                   {'title': 'To', 'data': 'dst_filepath'},
                                   {'title': 'Progress', 'data': 'monitoring_info'},
                                   {'title': 'Status', 'data': 'status', 'width': '5%'},
                                   {'data': null, 'defaultContent':'<span class="oi oi-terminal text-primary"></span>', 'width': '1%', "orderable": false}],
                            REMOVE: [{'title': 'ID', 'data': 'id', 'className': 'element_id', 'width': '5%', 'sType': 'date'},
                                     {'title': 'Target', 'data': 'src_filepath'},
                                     {'title': 'Progress', 'data': 'monitoring_info'},
                                     {'title': 'Status', 'data': 'status', 'width': '5%'},
                                     {'data': null, 'defaultContent':'<span class="oi oi-terminal text-primary"></span>', 'width': '1%', "orderable": false}]}

function preprocess_subtabledata(data, job_id){
    var processed_data = []  //cant just modify data inplace as need to filter (delete from) it.
    $.each(data, function(index, element){
        // skip listing job
        if (element.type == "LIST"){
            return;
        }

        // progress bar
        var width = 100;
        var text = "N/A";
        var colour = "bg-success";
        var progress_wrapper = $("<div/>");
        var progressbar = $("<div>", {class: "progress"});
        if (element.status === "DONE"){
            text = Math.floor(element.size/1e6) + " Mb";
        }
        else if (element.status === "FAILED"){
            text = "N/A";
            colour = "bg-secondary";
        }
        else if (typeof element.monitoring_info === "undefined" || element.monitoring_info === null){
            text = "No monitoring info!";
            colour = "bg-secondary";
        }
        else if(element.status === "SUBMITTED"){
            width = 100 * element.monitoring_info.transferred / Math.floor(element.size/1e6);
            text = element.monitoring_info.transferred;
            colour += "progress-bar-striped progress-bar-animated";
        }
        else{
            text = "Unknown Error!";
            colour = "bg-secondary";
        }
        var bar = $("<div>", {class: `progress-bar ${colour}`,
                              role: "progressbar",
                              style: `width: ${width}%`});
        bar.text(`${text}`);
        progressbar.append(bar);
        progress_wrapper.append(progressbar);
        element.monitoring_info = progress_wrapper.html();

        // id number
        element.id = [job_id, element.id].join('.');

        // status badges
        var badge_wrapper = $("<div/>");
        var status_badge = $("<span>", {class: `badge badge-${status_colour_map[element.status]}`});
        status_badge.text(element.status);
        badge_wrapper.append(status_badge);
        element.status = badge_wrapper.html();

        // push new data
        processed_data.push(element);
    });
    return processed_data
}

function preprocess_tabledata(data){
    var processed_data = []
    $.each(data, function(index, job){
        var job_type = job.type;

        // filter out all but COPY/REMOVE jobs
        if(job_type !== "COPY" && job_type !== "REMOVE"){
            return;
        }

        // status badges
        var badge_wrapper = $("<div/>");
        var status_badge = $("<span>", {class: `badge badge-${status_colour_map[job['status']]}`});
        status_badge.text(job.status);
        badge_wrapper.append(status_badge);
        job.status = badge_wrapper.html();

        // progressbar
        var num_elements = job.num_elements;
        var progress_wrapper = $("<div/>");
        var progressbar = $("<div>", {class: "progress"});
        if(num_elements > 1 && job.num_done >= 1){
            var done_bar = $("<div>", {class: `progress-bar bg-success`,
                                       role: "progressbar",
                                       style: `width: ${100*(job.num_done - 1)/(num_elements - 1)}%`});
            done_bar.text(job.num_done - 1);
            var submitted_bar = $("<div>", {class: `progress-bar progress-bar-striped progress-bar-animated bg-warning`,
                                            role: "progressbar",
                                            style: `width: ${100*job.num_submitted/(num_elements - 1)}%`});
            submitted_bar.text(job.num_submitted);
            var failed_bar = $("<div>", {class: `progress-bar bg-danger`,
                                         role: "progressbar",
                                         style: `width: ${100*job.num_failed/(num_elements - 1)}%`});
            failed_bar.text(job.num_failed);
            var new_bar = $("<div>", {class: `progress-bar bg-secondary`,
                                      role: "progressbar",
                                      style: `width: ${100*job.num_new/(num_elements - 1)}%`});
            new_bar.text(job.num_new);
            progressbar.append(done_bar);
            progressbar.append(submitted_bar);
            progressbar.append(failed_bar);
            progressbar.append(new_bar);
        }
        else{
            var wait_bar = $("<div>", {class: `progress-bar progress-bar-striped progress-bar-animated bg-secondary`,
                                       role: "progressbar",
                                       style: "width: 100%"});
            wait_bar.append($("<span>", {class: "oi oi-timer text-light"}));
            progressbar.append(wait_bar);
        }
        progress_wrapper.append(progressbar);
        job.progress = progress_wrapper.html();

        // push new data
        processed_data.push(job);

    });
    return processed_data;
}

function refresh_table(jobs_table){
    $.ajax({
        url: "/web/js/jobs",
        type: "GET",
        cache: true,
        dataType: "json",
        error: function(request, status, error){
            console.warn(`Error getting users jobs!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request));
            bootstrap_alert("Attention!", `Error getting users jobs! status: ${status} error: ${error}`, "alert-danger");
        },
        success: function(response, status, request){
            console.log("Successfully retrieved users jobs.");
            jobs_table.empty();
            jobs_table.removeClass("text-center");  // center was for the placeholder logo
            var table_container = jobs_table.DataTable({data: preprocess_tabledata(response),
                                                        columns: [
                                                            {"className": 'details-control',
                                                             "orderable": false,
                                                             "data": null,
                                                             "width": "5%",
                                                             "defaultContent": '<span class="oi oi-chevron-bottom text-primary"></span>'},
                                                            {'title': 'ID', 'data': 'id', 'className': 'job_id', 'width': '5%'},
                                                            {'title': 'Progress', 'data': 'progress', 'width': '80%'},
                                                            {'title': 'Type', 'data': 'type', 'className': 'job_type', 'width': '5%'},
                                                            {'title': 'Status', 'data': 'status', 'width': '5%'}
                                                        ],
                                                        order: [[1, "desc"]]})
                                            .table().container();
            $(table_container).addClass("w-100");
        }
    });
}

$(document).ready(function(){
    // placeholder spinning pdm image
    var jobs_table = $("#jobs_table");
    jobs_table.append($("<img>", {src: '/static/images/pdm_animation.gif', class: "w-50"}));

    // Reload table ajax every 2 mins
    /////////////////////////////////////////////////////
    setInterval(refresh_table(jobs_table), 120000); // 2 mins

    jobs_table.on('click', 'tbody tr td span.oi-terminal', function (){
        var id = $(this).closest("tr").find("td.element_id").text().split(".");
        var job_id = id[0];
        var element_id = id[1];
        $.fancybox.open({
            src  : `/web/js/jobs/${job_id}/elements/${element_id}/output`,
            type : 'iframe',
            title: `Output for element ${id}`
        });
    });

    // Add event listener for opening and closing details
    jobs_table.on('click', 'tbody tr td.details-control span.oi', function (){
        var details_control = $(this);
        var tr = details_control.closest('tr');
        var row = jobs_table.DataTable().row(tr);
        details_control.toggleClass("oi-chevron-top text-danger oi-chevron-bottom text-primary")
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
            return;
        }

        var job_id = tr.children("td.job_id").text();
        var job_type = tr.children("td.job_type").text();
        var loading_image = $("<img>", {src: "/static/images/pdm_animation.gif"})
        row.child(loading_image).show();
        tr.addClass('shown');
        $.ajax({
            url: `/web/js/jobs/${job_id}/elements`,
            type: "GET",
            cache: true,
            dataType: "json",
            error: function(request, status, error){
                console.warn(`Error getting elements for job ${job_id}!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request));
                bootstrap_alert("Attention!", `Error getting elements for job ${job_id}! status: ${status} error: ${error}`, "alert-danger");
            },
            success: function(response, status, request){
                console.log(`Successfully retrieved elements for job ${job_id}.`);
                var subtable = $("<table>", {class: "compact w-100"});
                subtable.DataTable({data: preprocess_subtabledata(response, job_id),
                                    columns: type_elements_column_map[job_type],
                                    order: [[0, "asc"]],
                                    lengthMenu: [[-1], ["All"]]});
                loading_image.replaceWith(subtable);
            }
        });
    });
});
</script>
{% endblock %}
{% block content %}
<table id="jobs_table" class="display compact w-100 text-center"></table>
{% endblock %}
