<html>
  <body>
    Listing stuff.... <br>
    
    For reference: <br>
    {{sites}}
    <br>
    <hr>
    
    <br>
    
    <form method="POST" action="/web/listings">
      <select name="Endpoints">
	{% for site in sites %}
	{% set siteid = site['site_id'] %}
	<option value={{ siteid }}>{{site['site_name']}}</option>
	{% endfor %}
      </select>
      
      <br><br>

      directory: <input type="text" name="path" value="/"/> <br>
      
      
      <br><br>
      <input type="submit">
    </form>
  </body>
</html>

