/* html */

body {
    background-color: snow;
}

/* spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display : none;
}

/* spinner Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* table for file listing */
/* this is just a dummy for now */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* pseudo button (just a link) */
a.pseudobutton {
    -webkit-appearance: button;
    -moz-appearance : button;
    appearance: button;
    background-color: white;
    border-style : solid;
    border-radius: 10px;
    border-width : thin;
    border-color : darkgray;
    padding: 10px 10px;
    text-decoration: none;
    color: black; /* text color */
}


/* this needs fixing */
.lbutton {
    background-color: lightblue;
    border : hidden;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    color: black; /* text colour */
    padding: 18px 18px;
    margin: 8px 0;
    cursor: pointer;
}

