/* html */

body {
    background-color: snow;
}


/* put sites in different columns */
.outer {
    width: 100%;
    margin: auto 20;
}


/* table is stil too big */
/* https://datatables.net/examples/basic_init/flexible_width.html */
/* doesn't quite work yet */
.siteid
{
    float: left;
    text-align: left;
    width: 45%;
    margin-left: 20px;
}



/* spinner */
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display : none;
}

/* spinner Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* note: for all table related items use datatables */



/* pseudo button (just a link) */
a.pseudobutton {
    -webkit-appearance: button;
    -moz-appearance : button;
    appearance: button;
    background-color: white;
    border-style : solid;
    border-radius: 10px;
    border-width : thin;
    border-color : darkgray;
    padding: 10px 10px;
    text-decoration: none;
    color: black; /* text color */
}


/* this needs fixing */
.lbutton {
    background-color: lightblue;
    border : hidden;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    color: black; /* text colour */
    padding: 18px 18px;
    margin: 8px 0;
    cursor: pointer;
}

