/* I'm so going to need one css per page..... */

/* html */

body {
    background-color: snow; 
}

form {
    background-color : white; 
    padding-top : 10px; 
    padding-bottom: 10px;
    margin: 1 1 1 1;
    border : hidden;
    border-radius : 8px
}

/* buttons buttons buttons */



button:hover {
    opacity: 0.8;
}


/* login button */
.lbutton {
    background-color: forestgreen;
    border : hidden;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    color: black; /* text colour */
    padding: 18px 18px;
    margin: 8px 0;
    cursor: pointer;
}



/* sign up pseudo button (just a link)*/
a.sbutton {
    -webkit-appearance: button;
    -moz-appearance : button;
    appearance: button;
    background-color: lightcoral;
    border-style : hidden;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: black; /* text colour */
    padding: 10px 10px;
    cursor: pointer;
    
}

a.sbutton:hover {
    opacity: 0.8;
}


/* about pseudo button (just a link) */
a.abutton {
    -webkit-appearance: button;
    -moz-appearance : button;
    appearance: button;
    background-color: white;
    border-style : solid;
    border-radius: 10px;
    border-width : thin;
    border-color : darkgray;
    padding: 10px 10px;
    text-decoration: none;
    color: black; /* text color */
}



/* front page */

.fpborder {
    
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
}


/* sign in page */



/* about page */

.outer {
  width: 100%;
  margin: 0 auto;

}
.inner {
  width: 50%;
  background-color : white;
  border: hidden;
  border-radius: 10px;
  margin: 0 auto;
  margin-top : 20px;
  text-align: center;
}

/* The "Forgot password" text -- not sure this works, cut and paste*/

span.psw {
    float: right;
    padding-top: 16px;
}

/* for small screens -- this seems to work*/
@media screen and (max-width: 500px) {
    .inner {
	width: 80%;
	background-color : white;
	border: hidden;
	border-radius: 10px;
	margin: 0 auto;
	margin-top : 20px;
	text-align: center;
    }
}